.home-container {
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}


h2 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

.card-container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.card h3 {
    color:#0056b3;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.btn {
    display: inline-block;
    background-color:cadetblue;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}